/* 
COLOR THEME
light greeen: #3D703A
Dark Green: #1B2A23
Sea Green: #223A31
Light Sea Green: #447463
Logo Green: #4F9C40
Electric White: #EEEDED
Grey: #171717
Black: #000000 
*/

.nav-container {
	overflow: hidden;
	position: fixed;
	bottom: 1%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.nav {
	border-radius: 20px;
	border: 2px solid #4f9c40;
	width: 97vw;
}
